<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | StudentConnect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel='icon' href='@Url.Content("~/favicon.ico")' type='image/x-icon'> 
    <link rel='shortcut icon' href='@Url.Content("~/favicon.ico")' type='image/x-icon'>
    <link rel="stylesheet" href="@Url.Content("~/Content/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.2.0.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/sdmobile.css")" />
    <style type="text/css">
        .errormessage { color: Red; font-weight: bold; margin: 8px; }  
        .navfooter .ui-btn .ui-btn-inner { padding-top: 40px !important; }
        .navfooter  .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#contactlink .ui-icon { background:  url(_images/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px; }
		#poslink .ui-icon { background:  url(_images/180-stickynote.png) 50% 50% no-repeat; background-size: 22px 22px;  }
		#peoplelink .ui-icon { background:  url(_images/112-group.png) 50% 50% no-repeat;  background-size: 32px 21px; }
		#aboutlink .ui-icon { background:  url(_images/sd_logo_gray.png) 50% 50% no-repeat;  background-size: 29px 29px; }
    </style>
</head>
<body>
    @RenderBody()    
    <div data-role="page" id="aboutapp">
        <div data-role="header" data-theme="b">
            <h1>StudentConnect</h1>
        </div>
        <div data-role="content" data-theme="b">	
            <h2>About StudentConnect</h2>
            <p>
                StudentConnect is an application created by the Something Digital (SD) app dev team.  
            </p>
            <p>
                Our objective was to create a prototype in HTML5, as well as iOS and Android, which we'd use as a platform to reach out to students and graduates at career fairs. 
            </p>
            <p>
                Source code this mobile site (ASP.NET MVC3 + jQuery Mobile) is available here: <a href="http://github.com/glennferrie/StudentConnect" rel="external" target="_blank">Source @@ GitHub</a>. Source code for platform applications will be available as apps are released.
            </p>
        </div>
    
        @{ Html.RenderPartial("_PopupFooter"); }
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mobile-1.2.0.min.js")" type="text/javascript"></script>
    @RenderSection("noAjaxJs", false)
    @RenderSection("setActiveBtn", false)
</body>
</html>
