@using System.Linq
@model StudentConnect.Data.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var interests = Model.Info.Interests == null ? new string[0] : Model.Info.Interests.Split(',');

    var LastUpdatedText = "";
    if (Model.Info.LastUpdated != null)
    {
        LastUpdatedText = string.Format("Last Updated: {0:MM/dd/yyyy}", Model.Info.LastUpdated);
    }
}
<div data-role="page" id="home"  >
    @{ Html.RenderPartial("_Header", "Home"); }
    
    @using (Html.BeginForm("SaveContactData", "Home", FormMethod.Post))
    {
        <div data-role="content" data-theme="b" >	
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" data-mini="true" placeholder="Your Name" value="@Model.Info.FullName" />
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" data-mini="true" placeholder="Your Email Address" value="@Model.Info.EmailAddress" />
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone" data-mini="true" placeholder="Mobile Number" value="@Model.Info.PhoneNumber"/>
            <label for="major">Major:</label>
            <input type="text" name="major" id="major" data-mini="true" placeholder="What is your major / minor?" value="@Model.Info.Major" />
            <label for="aboutyou">Bio:</label>
            <textarea name="textarea" id="aboutyou" placeholder="Tell us a little bit about yourself">@Model.Info.About</textarea>
                                                <div data-role="fieldcontain" id="positionsContainer">
            <fieldset data-role="controlgroup" id="interestedInPositions">
                <legend>Interested in:</legend>
                @foreach (var item in Model.Metadata.Positions)
                {
                    if (interests.Contains(item.Value))
                    { 
                        <input type="checkbox" name="option-@item.Index" id="option-@item.Index" checked="checked" />
                    <label for="option-@item.Index">@item.Value</label>
                    }
                    else
                    { 
                        <input type="checkbox" name="option-@item.Index" id="option-@item.Index" />
                        <label for="option-@item.Index">@item.Value</label>
                    }
                }
            </fieldset>
        </div>
            <fieldset data-role="controlgroup">
                <legend>Preferred Contact Method:</legend>
                    @if (Model.Info.PreferredContactMethod == "Phone")
                    {
                        <input type="radio" name="email-choice" id="email-choice" value="email"  />
                        <label for="email-choice">Email</label>
                        <input type="radio" name="phone-choice" id="phone-choice" value="phone" checked="checked" />
                        <label for="phone-choice">Phone</label>
                    }
                    else
                    { 
                        <input type="radio" name="email-choice" id="email-choice" value="email" checked="checked" />
                        <label for="email-choice">Email</label>
                        <input type="radio" name="phone-choice" id="phone-choice" value="phone"  />
                        <label for="phone-choice">Phone</label>
                    }
                    
            </fieldset>
            <div>
                @LastUpdatedText                
            </div>
            <input type="submit" value="Save"  />
        </div>
    }

    @{ Html.RenderPartial(@"_Footer"); }
</div>

