@using System.Linq
@model StudentConnect.Data.HomeViewModel
@{
    ViewBag.Title = "Contact Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var interests = Model.Info.Interests == null ? new string[0] : Model.Info.Interests.Split(',');

    var LastUpdatedText = "";
    if (Model.Info.LastUpdated != null)
    {
        LastUpdatedText = string.Format("Last Updated: {0:g}", Model.Info.LastUpdated);
    }
}

@section noAjaxJs { 
    <script type="text/javascript">
        $.mobile.ajaxEnabled = false;    
    </script>
}

@section setActiveBtn { 
    <script type="text/javascript">
        $("#contactlink").addClass("ui-btn-active");        
    </script>
}

<div data-role="page" id="home"  >
    @{ Html.RenderPartial("_Header", (string)ViewBag.Title); }
    
    @using (Html.BeginForm("SaveContactData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div data-role="content" data-theme="b" >	
            <div data-role="fieldcontain">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" data-mini="true" placeholder="Your Name" value="@Model.Info.FullName" />
            </div>
            <div data-role="fieldcontain">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" data-mini="true" placeholder="Your Email Address" value="@Model.Info.EmailAddress" />
            </div>
            <div data-role="fieldcontain">
                <label for="phone">Phone:</label>
                <input type="tel" name="phone" id="phone" data-mini="true" placeholder="Mobile Number" value="@Model.Info.PhoneNumber"/>
            </div>
            <div data-role="fieldcontain">
                <label for="major">Major:</label>
                <input type="text" name="major" id="major" data-mini="true" placeholder="What is your major / minor?" value="@Model.Info.Major" />
            </div>
            <div data-role="fieldcontain">
                <label for="major">Graduating Semester:</label>
                <input type="text" name="gradyear" id="gradyear" data-mini="true" placeholder="When are you graduating?" value="@Model.Info.GradYear" />
            </div>
            <div data-role="fieldcontain">
                <label for="major">Looking for:</label>
                <input type="text" name="jobtype" id="jobtype" data-mini="true" placeholder="Full-time or internship?" value="@Model.Info.JobType" />
            </div>
            <div data-role="fieldcontain" >
                <label for="about">About you:</label>
                <textarea name="about" id="about" placeholder="Tell us a little bit about yourself">@Model.Info.About</textarea>    
            </div>
            
            <div data-role="fieldcontain" id="positionsContainer">
            <fieldset data-role="controlgroup" id="interestedInPositions">
                <legend>Interested in:</legend>
                @foreach (var item in Model.Metadata.Positions)
                {
                    if (interests.Contains(item.Value))
                    { 
                        <input type="checkbox" name="@item.OptionName" id="@item.OptionName" checked="checked" />
                    <label for="@item.OptionName">@item.Value</label>
                    }
                    else
                    { 
                        <input type="checkbox" name="@item.OptionName" id="@item.OptionName" />
                        <label for="@item.OptionName">@item.Value</label>
                    }
                }
            </fieldset>
            </div>
            <div data-role="fieldcontain" id="preferredContactContainer">
            <fieldset data-role="controlgroup">
                <legend>Preferred Contact Method:</legend>
                    @if (Model.Info.PreferredContactMethod == "Phone")
                    {
                        <input type="radio" name="contact-pref" id="email-preferred" value="Email"  />
                        <label for="email-preferred">Email</label>
                        <input type="radio" name="contact-pref" id="phone-preferred" value="Phone" checked="checked" />
                        <label for="phone-preferred">Phone</label>
                    }
                    else
                    { 
                        <input type="radio" name="contact-pref" id="email-preferred" value="Email" checked="checked" />
                        <label for="email-preferred">Email</label>
                        <input type="radio" name="contact-pref" id="phone-preferred" value="Phone"  />
                        <label for="phone-preferred">Phone</label>
                    }
                    
            </fieldset>
            </div>
            <div data-role="fieldcontain" id="resumeupload">
            <fieldset data-role="controlgroup">
                <legend>Resume (optional):</legend>
            
                
                <input type="file" name="resumefile" id="resumefile" data-mini="true" placeholder="Attach your resume"  />
                </fieldset>
            
            </div>

            <div><input type="hidden" name="requesterid" value="@Model.Info.RequesterID" /></div>
            <input type="submit" value="Save" id="SaveButton"  />
            <div>
                @LastUpdatedText                
            </div>
        </div>
    }

    @{ Html.RenderPartial(@"_Footer"); }
</div>

